{% extends "base.html" %}

{% block content %}
{% include 'fragments/error-box.html' %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Players
            </div>
            <div class="card-body">
                {% if player_list %}
                    <table class="table" id="player-list-table">
                        <thead>
                            <tr>
                                <th style="width: 5%;">&nbsp;</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody class="align-middle">
                            {% for player in player_list %}
                            <tr>
                                <td><a href="#" class="btn btn-primary btn-sm">View</a></td>
                                <td>{{player.name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="card-text">No players found</p>
                {% endif %}
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-player-modal">
                    Add Player
                </button>                
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-player-modal" tabindex="-1" aria-labelledby="add-player-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-player-modal-label">Add Player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="form-label">Name:</label>
                    <input type="text" id="player-name" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" id="add-player-button">Add Player</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}
<script>
    const csrfToken = "{{csrf_token}}";
    const addPlayerUrl = "{% url 'api:players-list' %}";

    document.getElementById("add-player-button").addEventListener("click", async () => {
        const data = {
            "name": document.getElementById("player-name").value
        };

        const response = await fetch(addPlayerUrl, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            console.log("Error");
            return;
        }

        window.location.reload(true);
    });
</script>
{% endblock %}
