{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Profile
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="fw-bold">Name:</div>
                    <div class="ps-3">{{request.user.first_name}} {{request.user.last_name}}</div>
                </div>
                <div class="mb-3">
                    <div class="fw-bold">Email:</div>
                    <div class="ps-3">{{request.user.email}}</div>
                </div>
                <div class="mb-3">
                    <div class="fw-bold">Games:</div>
                    <div class="ps-3">{{game_count}}</div>
                </div>
            </div>
            <div class="card-footer">
        
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}
