{% extends "base.html" %}

{% block content %}
{% include 'fragments/error-box.html' %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Tee Time
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="fw-bold d-block">Course Name:</label>
                    <span class="ps-2">{{tee_time_data.course.name}}</span>
                </div>
                <div class="mb-3">
                    <label class="fw-bold d-block">Game Time:</label>
                    <span class="ps-2">{{tee_time_data.tee_time}}</span>
                </div>
                <div class="mb-3">
                    <label class="fw-bold d-block">Holes to Play:</label>
                    <span class="ps-2">{{tee_time_data.get_holes_to_play_display}}</span>
                </div>
                <div class="mb-3">
                    <label class="fw-bold d-block">Status:</label>
                    <span class="ps-2">{{tee_time_data.is_active|yesno:"Yes,No"}}</span>
                </div>
                <div class="mb-3">
                    <label class="fw-bold d-block">Players:</label>
                    {% if tee_time_data.players.all %}
                        {% for player in tee_time_data.players.all %}
                            <p class="ps-2 mb-0">{{player.name}}</p>    
                        {% endfor %}
                    {% else %}
                        <span class="ps-2">No Players Added Yet</span>
                    {% endif %}
                </div>
            </div>
            {% if tee_time_data.is_active %}
            <div class="card-footer">
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-player-modal">
                    Add Player
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#start-game-modal">
                    Start Game
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal fade" id="add-player-modal" tabindex="-1" aria-labelledby="add-player-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-player-modal-label">Add Player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="form-label">Players:</label>
                    <select class="form-select" id="potential-players">
                        <option value="none">...</option>
                        {% for player in potential_player_list %}
                            <option value="{{player.id}}">{{player.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="add-player-confirm">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="start-game-modal" tabindex="-1" aria-labelledby="start-game-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="start-game-modal-label">Start Game</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to start this game?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="start-game-confirm-button">Start Game</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}
<script>
    const teeTimeId = "{{tee_time_data.id}}";
    const teeTimeManageUrl = "{% url 'home:ajax-manage-tee-time' %}";
    const csrfToken = "{{csrf_token}}";
    document.getElementById("add-player-confirm").addEventListener("click", async (event) => {
        const data = {
            "player_id": document.getElementById("potential-players").value,
            "tee_time_id": teeTimeId,
            "action": "add-player",
        };

        const response = await fetch(teeTimeManageUrl, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            console.log("Error");
            return;
        }

        const jsonData = await response.json();
        if (jsonData.status == "success") {
            window.location.reload(true);
        } else {
            showError("error-alert-wrapper", jsonData.message);
        }
    });

    document.getElementById("start-game-confirm-button").addEventListener("click", async () => {
        const data = {
            "tee_time_id": teeTimeId,
            "action": "start-game",
        };

        const response = await fetch(teeTimeManageUrl, {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            console.log("Error");
            return;
        }

        const jsonData = await response.json();
        if (jsonData.status == "success") {
            window.location.replace(jsonData.game_url);
        } else {
            showError("error-alert-wrapper", jsonData.message);
        }
    });
</script>
{% endblock %}
