{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>My Games</h1>
        {% if game_list %}
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 5%;">&nbsp;</th>
                        <th>Course</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for game in game_list %}
                        <tr>
                            <td><a href="{% url 'home:game-detail' game.id %}" class="btn btn-primary btn-sm">View</a></td>
                            <td>{{game.course.name}}</td>
                            <td>{{game.date_played|date:"m-d-Y"}}</td>
                            <td>{{game.get_status_display}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No Games Found</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}
