{% extends "base-dashboard.html" %}

{% block page_name %}Courses{% endblock %}

{% block button_bar %}
    <a href="{% url 'dashboard:create_course' %}" class="btn btn-sm btn-outline-secondary">Add Course</a>
{% endblock %}

{% block content %}
{% if course_list %}
<table class="table">
    <thead>
        <tr>
            <th style="width: 5%;">&nbsp;</th>
            <th>Name</th>
            <th>Holes</th>
        </tr>
    </thead>
    <tbody class="align-middle">
    {% for course in course_list %}
        <tr>
            <td><a href="{% url 'dashboard:course_detail' course.id %}" class="btn btn-primary btn-sm">View</a></td>
            <td>{{course.name}}</td>
            <td>{{course.get_hole_count_display}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No courses found</p>
{% endif %}
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}
