{% extends "base-dashboard.html" %}
{% load custom_parser %}

{% block page_name %}Dashboard{% endblock %}

{% block content %}
{% if league_standings %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Current League Standings
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 5%;">&nbsp;</th>
              <th>Player</th>
              <th>HCP</th>
              <th>Points Needed (par 72)</th>
            </tr>
          </thead>
          <tbody class="align-middle">
            {% for player in league_standings %}
            <tr>
              <td><a href="{% url 'dashboard:player_detail' player.id %}" class="btn btn-primary btn-sm">View</a></td>
              <td>{{player.name}}</td>
              <td>{{player.hcp}}</td>
              <td>{{player.points}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        {% if is_admin %}
        <a href="{% url 'dashboard:create_player' %}" class="btn btn-primary btn-sm">Add Player</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        {% if is_admin %}
        All Active Games
        {% else %}
        My Active Games
        {% endif %}
      </div>
      <div class="card-body">
        {% if game_list %}
        <ul class="list-group">
          {% for game in game_list %}
          <li class="list-group-item">
            <a class="text-decoration-none text-black" href="{% url 'dashboard:game_detail' game.id %}">{{game.course}}: {{game.date_played}}</a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="card-text">No active games</p>
        {% endif %}
      </div>
      <div class="card-footer">
        <a href="{% url 'dashboard:create_game' %}" class="btn btn-primary btn-sm">Add Game</a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        {% if is_admin %}
        All Tee Times
        {% else %}
        My Tee Times
        {% endif %}
      </div>
      <div class="card-body">
        {% if tee_time_list %}
        <ul class="list-group">
          {% for tee_time in tee_time_list %}
          <li class="list-group-item">
            <a class="text-decoration-none text-black" href="{% url 'dashboard:tee_time_detail' tee_time.id %}">{{tee_time.course.name}}: {{tee_time.tee_time}}</a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="card-text">No active tee times</p>
        {% endif %}
      </div>
      <div class="card-footer">
        <a href="{% url 'dashboard:create_tee_time' %}" class="btn btn-primary btn-sm">Add Tee Time</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}
