{% extends "base-dashboard.html" %}

{% block page_name %}Games{% endblock %}

{% block button_bar %}
    <a href="{% url 'dashboard:create_game' %}" class="btn btn-sm btn-outline-secondary">Add Game</a>
{% endblock %}

{% block content %}
<div class="row">
    {% if game_list %}
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 5%;">&nbsp;</th>
                    <th>Course</th>
                    <th>Date Played</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody class="align-middle">
            {% for game in game_list %}
                <tr>
                    <td><a href="{% url 'dashboard:game_detail' game.id %}" class="btn btn-primary btn-sm">View</a></td>
                    <td>{{game.course.name}}</td>
                    <td>{{game.date_played}}</td>
                    <td>{{game.get_status_display}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Games Found</p>
    {% endif %}
</div>
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}
