{% extends "base-dashboard.html" %}
{% load djmoney %}
{% load custom_parser %}

{% block page_name %}{{ game_data.get_status_display }} {{ game_data.get_game_type_display }} Game{% endblock %}

{% block button_bar %}
<a href="{% url 'dashboard:games' %}" class="btn btn-sm btn-outline-secondary">Back to Game List</a>
{% endblock %}

{% block content %}
<div class="row">
  {% if team_list %}
  <div class="col-4">
  {% else %}
  <div class="col-6">
  {% endif %}
    <div class="card">
      <div class="card-header fw-bold">
        Game Detail
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label class="fw-bold d-block">Course:</label>
          <span class="ps-2">{{ game_data.course.name }}</span>
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">Date Played:</label>
          <span class="ps-2">{{ game_data.date_played }}</span>
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">Game Type:</label>
          <span class="ps-2">{{ game_data.get_game_type_display }}</span>
        </div>
        {% if game_data.which_holes != "all" %}
        <div class="mb-3">
          <label class="fw-bold d-block">Holes Played:</label>
          <span class="ps-2">{{ game_data.which_holes }}</span>
        </div>
        {% endif %}
        {% if game_data.status != "setup" %}
        <div class="mb-3">
          <label class="fw-bold d-block">Pot:</label>
          <span class="ps-2">{{ game_data.pot }}</span>
        </div>
          {% if game_data.use_skins %}
          <div class="mb-3">
            <label class="fw-bold d-block">Skin Pot:</label>
            <span class="ps-2">{{ game_data.skin_pot }}</span>
          </div>
          {% endif %}
        {% else %}
        <div class="mb-3">
          <label class="fw-bold d-block">Buy-in:</label>
          <span class="ps-2">{{ game_data.buy_in }}</span>
        </div>
          {% if game_data.use_skins %}
          <div class="mb-3">
            <label class="fw-bold d-block">Skin Cost:</label>
            <span class="ps-2">{{ game_data.skin_cost }}</span>
          </div>
          {% endif %}
        {% endif %}
        <div class="mb-3">
          <label class="fw-bold d-block">Teams:</label>
          <span class="ps-2">{{ game_data.use_teams }}</span>
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">Skins:</label>
          <span class="ps-2">{{ game_data.use_skins }}</span>
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">League Game:</label>
          <span class="ps-2">{{game_data.league_game}}</span>
        </div>
      </div>
      <div class="card-footer">
        {% if game_data.status == "setup" %}
          {% if current_player_count > 0 %}
          <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#start-game-modal">Start Game</button>
          {% endif %}
          {% if user_is_admin %}
          <a href="{% url 'dashboard:edit_game' game_data.id %}" class="btn btn-primary btn-sm">Edit Game</a>
          {% endif %}
        {% elif game_data.status == "active" %}
        <button class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#score-game-modal">Score Game</button>
        <button class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#reset-game-modal">Reset Game</button>
        {% elif game_data.status == "completed" %}
        <a href="{% url 'dashboard:game_score_detail' game_data.id %}" class="btn btn-primary btn-sm">Score Details</a>
        {% endif %}
        {% if user_is_admin and game_data.status != "completed" %}
        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#delete-game-modal">Delete Game</button>
        {% endif %}
      </div>
    </div>
  </div>
  {% if team_list %}
  <div class="col-4">
  {% else %}
  <div class="col-6">
  {% endif %}
    <div class="card">
      <div class="card-header">
        Players
      </div>
      <div class="card-body">
        {% if game_data.players.all %}
        <table class="table table-striped">
          <thead>
            <tr>
              {% if game_data.status == "setup" %}
              <th style="width: 5%;">&nbsp;</th>
              {% endif %}
              <th>Name</th>
              <th>HCP</th>
              {% if game_data.game_type == "stableford" %}
              <th>Points Needed</th>
              {% endif %}
              {% if game_data.use_skins %}
              <th>Skins</th>
              {% endif %}
            </tr>
          </thead>
          <tbody class="align-middle">
            {% for player in current_players %}
            <tr>
              {% if game_data.status == "setup" %}
              <td><button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#remove-player-modal" data-player-id="{{ player.id }}">Remove</button></td>
              {% endif %}
              <td>{{ player.name }}</td>
              <td>{{ player.hcp }}</td>
              {% if game_data.game_type == "stableford" %}
              <td>{{ player.points_needed }}</td>
              {% endif %}
              {% if game_data.use_skins %}
              <td>{{ player.skins }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="card-text">No Players Found</p>
        {% endif %}
      </div>
      {% if game_data.status == "setup" %}
      <div class="card-footer">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#add-player-modal">Add Player</button>
      </div>
      {% endif %}
    </div>
  </div>
  {% if team_list %}
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        Teams
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Players</th>
              <th>Team HCP</th>
            </tr>
          </thead>
          <tbody class="align-middle">
            {% for team in team_list %}
            <tr>
              <td>{{ team.name }}</td>
              {% format_list team.players as team_players %}
              <td>{{ team_players }}</td>
              <td>{{ team.handicap }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% if game_data.status == "completed" %}
  {% include "dashboard/game-scores.html" %}
{% elif game_data.status == "active" %}
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Current Scores
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Player</th>
              {% for hole_num in hole_list %}
              <th>{{ hole_num }}</th>
              {% endfor %}
              <th>Score</th>
              <th>Par</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in hole_data %}
            <tr class="player-row">
              <td>{{ obj.player_name }}</td>
              {% for hole_item in obj.hole_list %}
                {% if obj.user_account == request.user or user_is_admin %}
                <td><input type="text" size="1" class="hole-input" data-hole-score-id="{{ hole_item.hole_score_id }}" value="{{ hole_item.hole_strokes }}" /></td>
                {% else %}
                <td>{{ hole_item.hole_strokes }}</td>
                {% endif %}
              {% endfor %}
              <td>{{ obj.player_score }}</td>
              <td>{{ obj.par }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <a href="{% url 'dashboard:game_score_detail' game_data.id %}" class="btn btn-sm btn-primary">Score Details</a>
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="modal fade" id="add-player-modal" tabindex="-1" aria-labelledby="add-player-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="add-player-modal-label">Add player to game</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <label class="form-label">Player:</label>
          <select id="add-player-select" class="form-select">
            <option value="none">Select a player...</option>
            {% for player in player_list %}
            <option value="{{ player.id }}">{{ player.name }}</option>
            {% endfor %}
          </select>
        </div>
        {% if game_data.use_skins %}
        <div>
          <label class="form-label">Skins:</label>
          <select id="player-skins" class="form-select">
            <option value="False">False</option>
            <option value="True">True</option>
          </select>
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="add-player-button">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="remove-player-modal" tabindex="-1" aria-labelledby="remove-player-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="remove-player-modal-label">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to remove this player from the game?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="confirm-remove-player-button">Yes, Remove</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="reset-game-modal" tabindex="-1" aria-labelledby="reset-game-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reset-game-modal-label">Reset Game?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to reset this game?  This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="reset-game-button">Reset</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-game-modal" tabindex="-1" aria-labelledby="delete-game-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-game-modal-label">Delete Game?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this game?  This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="delete-game-button">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="start-game-modal" tabindex="-1" aria-labelledby="start-game-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="start-game-modal-label">Confirm Start Game</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if game_data.course.hole_count == 18 %}
        <div>
          <label class="form-label">Select holes to play:</label>
          <select id="add-holes-to-play-select" class="form-select">
            <option value="all">All</option>
            <option value="front">Front</option>
            <option value="back">Back</option>
          </select>
        </div>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="start-game-button">Start Game</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="score-game-modal" tabindex="-1" aria-labelledby="score-game-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="score-game-modal-label">Score Game?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to score this game?  This cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'dashboard:game_score' game_data.id %}" class="btn btn-primary">Score Game</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}
<script>
  const gameId = "{{ game_data.id }}";
  const managePlayerUrl = "{% url 'dashboard:ajax_manage_players_for_game' %}";
  const manageGameUrl = "{% url 'dashboard:ajax_manage_game' %}";
  const gameListUrl = "{% url 'dashboard:games' %}";
  const recordScoreUrl = "{% url 'dashboard:ajax_record_score_for_hole' %}";
  const csrfToken = "{{ csrf_token }}";
  let removePlayerId = null;

  document.getElementById("add-player-button").addEventListener("click", async (event) => {
    const playerId = document.getElementById("add-player-select").value;
    const playerSkins = document.getElementById("player-skins").value;
    if (playerId == "none") {
      return;
    }
    const data = {
      playerId: playerId,
      skins: playerSkins,
      game: gameId,
      action: "add-player"
    }
    try {
      const response = await fetch(managePlayerUrl, {
        method: "POST",
        headers: {
          "X-CSRFToken": csrfToken,
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
      if (!response.ok) {
        throw new Error("Error sending request");
        return;
      }
      const jsonData = await response.json();
      if (jsonData.status === "success") {
        return window.location.reload(true);
      }
    } catch(e) {
      alert("Error: " + e.message);
    }
  });

  document.getElementById("remove-player-modal").addEventListener("show.bs.modal", (event) => {
    const buttonClicked = event.relatedTarget;
    removePlayerId = buttonClicked.dataset.playerId;
  });

  document.getElementById("remove-player-modal").addEventListener("hide.bs.modal", (event) => {
    removePlayerId = null;
  });

  document.getElementById("confirm-remove-player-button").addEventListener("click", async (event) => {
    if (removePlayerId === null) {
      return;
    }
    const data = {
      action: "remove-player",
      playerId: removePlayerId,
      game: gameId
    }
    try {
      const response = await fetch(managePlayerUrl, {
        method: "POST",
        headers: {
          "X-CSRFToken": csrfToken,
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
      if (!response.ok) {
        throw new Error("Error sending request");
        return;
      }
      const jsonData = await response.json();
      if (jsonData.status === "success") {
        return window.location.reload(true);
      }
    } catch(e) {
      alert("Error: " + e.message);
    }
  });

  document.getElementById("reset-game-button").addEventListener("click", async (event) => {
    const data = {
      game_id: gameId,
      action: "reset-game"
    }
    try {
      const response = await fetch(manageGameUrl, {
        method: "POST",
        headers: {
          "X-CSRFToken": csrfToken,
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
      if (!response.ok) {
        throw new Error("Error sending request");
        return;
      }
      const jsonData = await response.json();
      if (jsonData.status === "success") {
        return window.location.reload(true);
      }
    } catch(e) {
      console.log("Error: ", e.message)
    }
  });

  document.getElementById("delete-game-button").addEventListener("click", async (event) => {
    const data = {
      game_id: gameId,
      action: "delete-game"
    }
    try {
      const response = await fetch(manageGameUrl, {
        method: "POST",
        headers: {
          "X-CSRFToken": csrfToken,
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
      if (!response.ok) {
        throw new Error("Error sending request");
        return;
      }
      const jsonData = await response.json();
      if (jsonData.status === "success") {
        return window.location.replace(gameListUrl);
      }
    } catch(e) {
      console.log("Error: ", e.message)
    }
  });

  document.getElementById("start-game-button").addEventListener("click", async (event) => {
    const holesToPlay = document.getElementById("add-holes-to-play-select").value;
    const data = {
      game_id: gameId,
      action: "start-game",
      holes_to_play: holesToPlay
    };
    const response = await fetch(manageGameUrl, {
      method: "POST",
      headers: {
        "X-CSRFToken": csrfToken,
        "Content-Type": "application/json"
      },
      body: JSON.stringify(data)
    });
    if (!response.ok) {
      console.log("Error");
      return;
    }
    window.location.reload(true);
  });

  document.querySelectorAll(".hole-input").forEach((el) => {
    el.addEventListener("blur", async (event) => {
      const holeScoreId = event.target.dataset.holeScoreId;
      const holeScore = event.target.value;
      const data = {
        hole_score_id: holeScoreId,
        hole_score: holeScore
      }
      try {
        const response = await fetch(recordScoreUrl, {
          method: "POST",
          headers: {
            "X-CSRFToken": csrfToken,
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        });
        if (!response.ok) {
          throw new Error("Error sending request");
          return;
        }
        const jsonData = await response.json();
        if (jsonData.status === "success") {
          console.log("Score updated: ", hole_score_id, hole_score)
        }
      } catch(e) {
        console.log("Error: ", e.message)
      }
    });
  });

</script>
{% endblock page_scripts %}
