{% extends "base-dashboard.html" %}

{% block page_name %}Dashboard{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div class="row">
  <div class="col-12">
    <div class="card">
      {% if is_admin %}
      <div class="card-header">
        Active Games
      </div>
      <div class="card-body">
        {% if game_list %}
        <ul class="list-group">
          {% for game in game_list %}
          <li class="list-group-item">
            <a class="text-decoration-none text-black" href="{% url 'dashboard:game_detail' game.id %}">{{game.course}}: {{game.date_played}}</a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="card-text">No active games</p>
        {% endif %}
      </div>
      <div class="card-footer">
        <a href="{% url 'dashboard:create_game' %}" class="btn btn-primary btn-sm">Add Game</a>
      </div>
      {% else %}
      <div class="card-header">
        My Active Games
      </div>
      <div class="card-body">
        {% if game_list %}
        <ul class="list-group">
          {% for game in game_list %}
          <li class="list-group-item">
            <a class="text-decoration-none text-black" href="{% url 'dashboard:game_detail' game.id %}">{{game.course}}: {{game.date_played}}</a>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="card-text">You do not have any active games</p>
        {% endif %}
      </div>
      <div class="card-footer">
        <a href="{% url 'dashboard:my-game-list' %}" class="btn btn-primary btn-sm">My Games</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Tee Times
      </div>
      <div class="card-body">
        {% if tee_time_list %}
        <table class="table">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Course</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody class="align-middle">
            {% for tee_time in tee_time_list %}
            <tr>
              <td><a href="{% url 'dashboard:tee_time_detail' tee_time.id %}" class="btn btn-primary btn-sm">View</a></td>
              <td>{{tee_time.course.name}}</td>
              <td>{{tee_time.tee_time}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="card-text">No tee times found</p>
        {% endif %}
      </div>
      <div class="card-footer">
        <a href="{% url 'dashboard:create_tee_time' %}" class="btn btn-primary btn-sm">Add Tee Time</a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}
