{% extends "base-dashboard.html" %}

{% block button_bar %}
    <a href="{% url 'dashboard:players' %}" class="btn btn-sm btn-outline-secondary">Back to Player List</a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Player Details
      </div>
      <div class="card-body">
        <div class="mb-3">
          <label class="fw-bold d-block">First Name:</label>
          {{player_data.first_name}}
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">Last Name:</label>
          {{player_data.last_name}}
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">Handicap:</label>
          <div class="ps-3">{{player_data.handicap}}</div>
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">Phone:</label>
          {{player_data.phone}}
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">Email:</label>
          {{player_data.email}}
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">User Account:</label>
          {{player_data.user_account}}
        </div>
        <div class="mb-3">
          <label class="fw-bold d-block">Photo:</label>
          <div class="ps-3">
            {% if player_data.photo %}
            <img src="{{player_data.photo.url}}" class="img-fluid" alt="..."></div>
            {% else %}
            <p>Not Set</p>
            {% endif %}
        </div>
      </div>
      <div class="card-footer">
        <a href="{% url 'dashboard:edit_player' player_data.id %}" class="btn btn-danger btn-sm">Edit</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}
