{% extends "base-dashboard.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
      <div class="mb-3">
      </div>
      <div class="card">
        <div class="card-header">
          Player Profile
        </div>
        <div class="card-body">
          <div class="mb-3">
            <div class="fw-bold">Name:</div>
            <div class="ps-3">{{player_data.name}}</div>
          </div>
          <div class="mb-3">
            <div class="fw-bold">Handicap:</div>
            <div class="ps-3">{{player_data.handicap}}</div>
          </div>
          <div class="mb-3">
            <div class="fw-bold">Photo:</div>
            <div class="ps-3"><img src="{{player_data.photo.url}}" class="img-fluid" alt="{{player_data.name}} Photo"></div>
          </div>
          <div class="mb-3">
            <div class="fw-bold">Games:</div>
            <div class="ps-3">{{game_count}}</div>
          </div>
        </div>
        <div class="card-footer">

        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}
