{% load custom_parser %}
{% get_team_scores game_data as team_scores %}
{% get_scores game_data as scores %}
{% get_skins game_data as skins %}
{% get_all_holes game_data as all_holes %}
{% get_all_scores game_data as all_scores %}
{% get_hole_list game_data as hole_list %}
{% block content %}
{% if team_scores %}
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Team Scores
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Team</th>
              {% for hole_num in hole_list %}
              <th>{{ hole_num }}</th>
              {% endfor %}
              <th>Score</th>
              <th>Winner</th>
            </tr>
          </thead>
          <tbody>
            {% for team in team_scores %}
            <tr>
              <td>{{ team.team_name }}</td>
              {% for hole_item in team.hole_list %}
              <td>{{ hole_item.hole_score }}</td>
              {% endfor %}
              <td>{{ team.team_score }}</td>
              <td>{{ team.winner }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% elif scores %}
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Game Scores
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Player</th>
              <th>HCP</th>
              {% for hole_num in hole_list %}
              <th>{{ hole_num }}</th>
              {% endfor %}
              <th>Score</th>
              <th>Winner</th>
            </tr>
          </thead>
          <tbody>
            {% for score in scores %}
            <tr>
              <td>{{ score.player_name }}</td>
              <td>{{ score.hcp }}</td>
              {% for hole_item in hole_obj.hole_list %}
              <td>{{ score.hole_score }}</td>
              {% endfor %}
              <td>{{ score.total_score }}/{{ score.par }}</td>
              <td>{{ score.winner }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if skins %}
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        Skins
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Hole</th>
              <th>Player</th>
            </tr>
          </thead>
          <tbody>
            {% for skin in skins %}
            <tr>
              <td>{{ skin.hole }}</td>
              <td>{{ skin.player }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if all_scores %}
<div class="row mt-3">
  <div class="col-12">
    {% for hole in all_scores %}
    <div class="card">
      <div class="card-header">
        {{ hole.name }} Par:{{ hole.par }} HCP:{{ hole.handicap }}
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Player</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {% for score in hole.scores %}
            <tr>
              <td>{{ score.player }}</td>
              <td>{{ score.score }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% if all_holes %}
<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        All Holes
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Player</th>
              <th>Hole</th>
              <th>Score</th>
              <th>Par</th>
              <th>HCP</th>
            </tr>
          </thead>
          <tbody>
            {% for hole in all_holes %}
            <tr>
              <td>{{ hole.player_name }}</td>
              <td>{{ hole.hole_name }}</td>
              <td>{{ hole.hole_score }}</td>
              <td>{{ hole.hole_par }}</td>
              <td>{{ hole.hole_handicap }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
